"rules": {
    "declaration-block-no-duplicate-properties": true,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-duplicate-names": true,
    "font-weight-notation": "numeric",
    "number-leading-zero": "never",
    "number-max-precision": 4,
    "number-no-trailing-zeros": true,
    "string-no-newline": true,
    "string-quotes": "double",
    "length-zero-no-unit": true,
    "unit-blacklist": ["em"],
    "unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,
    "value-list-max-empty-lines": 0,
    "property-case": "lower",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "never",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "declaration-empty-line-before": "never",
    "declaration-block-no-redundant-longhand-properties": true,
    "indentation": 4,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": "always-single-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": 'always',
    "block-no-empty": true,
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-space-before": "always",
    "selector-max-empty-lines": 0,
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "comment-no-empty": true,
    "max-empty-lines": 1,
}
